<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sevlet</servlet-name>
        <servlet-class>sevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savecountry</servlet-name>
        <servlet-class>Servlet.category.savecountry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logincheck</servlet-name>
        <servlet-class>Servlets.logincheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save</servlet-name>
        <servlet-class>Servlets.addressdetails.save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loard</servlet-name>
        <servlet-class>Servlets.addressdetails.loard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffLogin</servlet-name>
        <servlet-class>Servlets.staffLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLogin</servlet-name>
        <servlet-class>Servlets.userLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savedeveloper</servlet-name>
        <servlet-class>Servlets.savedeveloper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savestaff</servlet-name>
        <servlet-class>Servlets.savestaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sevlet</servlet-name>
        <url-pattern>/sevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savecountry</servlet-name>
        <url-pattern>/savecountry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logincheck</servlet-name>
        <url-pattern>/logincheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loard</servlet-name>
        <url-pattern>/loard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffLogin</servlet-name>
        <url-pattern>/staffLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLogin</servlet-name>
        <url-pattern>/userLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savedeveloper</servlet-name>
        <url-pattern>/savedeveloper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savestaff</servlet-name>
        <url-pattern>/savestaff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
